node_modules/
schema.json
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# Bundle artifact
.build
.env
.vscode/*
!.vscode/settings.json

mysqldata
.serverless

*.cer
*.certSigningRequest
*.p12
*.mobileprovision
*.pem
*.pkey
